<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ANGular 4</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/servers" routerLinkActive="active">Servers</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
  <!-- <p><label>Give name:
    <input [(ngModel)]="name" #ctrl="ngModel" required>
    </label>
  </p>
  <p>
      <input type="text" (input)="setName($event)" required>
  </p> -->
</div>
